boto3
huggingface_hub
jigsawstack
langgraph
llama-index-core
llama-index-embeddings-openai
llama-index-llms-openai
llama-index-vector-stores-qdrant
numpy
openai
Pillow
pytest
ragas
qdrant-client[fastembed]
tiktoken
torch
tqdm
transformers
